Port 10022
PubkeyAuthentication yes
PasswordAuthentication no
KbdInteractiveAuthentication no
PermitRootLogin prohibit-password
UsePAM yes
X11Forwarding no
MaxAuthTries 10
ClientAliveInterval 300
ClientAliveCountMax 2
